.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: white;
}

.display {
  width: 300px;
  height: 60px;
  background-color: #222;
  font-size: 2rem;
  color: #fff;
  text-align: right;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  width: 60px;
  height: 60px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #fff;
}

button:nth-child(4n) {
  background-color: #a333c8;
}

button:nth-child(4n + 1),
button:nth-child(4n + 2),
button:nth-child(4n + 3) {
  background-color: #444;
}

button:hover {
  background-color: #555;
}

button:active {
  background-color: #666;
}

button:nth-child(16) {
  background-color: #ff69b4;
}
